@font-face{
	font-family: Lane;
	src: url(../fonts/LANENAR_.ttf);
}
@font-face{
	font-family: Raleway;
	src: url(../fonts/Raleway-Light.ttf);
}

a.homelink{text-decoration: none;}

a.homelink:visited{
  color:black;
}

a{text-decoration: none;
color: black;}

a:visited{
  color:black;
}

body{
	margin-left: auto;
	margin-right: auto;
	font-family: Raleway;
	font-size: 1em;
	vertical-align: center;
	background: #eee;
}

div#topbar1{
	position:fixed;
	height: 5em;
	width: 100%;
	color:black;
	background-color: white;
	display:block;
	z-index: 1000;
	margin-top: -.5em;
}
.buttonHead{
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	letter-spacing: .2em;
	margin-top: 1.25em;
	position: relative;
	color:black;
	font-family: Lane;
}

div.inner{
	max-width: 1024px;
	margin: 0 auto;
	margin-top: 5em;
	text-align: center;
}



div.content{
	width: 48%;
	min-width: 500px;
	background-color: white;
	display: inline-block;
	position: relative;
	margin-right: .1em;
	margin-bottom: 1em;


}
.content img{
	width: 100%;
	height: 300px;
	display:inline-block;
	
    overflow: hidden;
    margin: auto;
}


.content p{
	font-size: 11pt;
	font-family: Lane;
	line-height: 20px;
	text-align:left;
	margin-top: 20px;
}
b.hover{
	font-size: 1.5em;
	font-weight: 900;
	padding: 15px;

}

footer{
	font-family: Lane;
	text-align: center;
	color: #aaa;
	padding:5pt;
	font-size: 11pt;
	font-weight: bold;
	background-color: white;

}

@media only screen and (max-width: 1024px) {
	div.content{
		width: 90%;
	}
	div.content img{
		height: auto;
		max-height: 500px;
	}
}
@media only screen and (max-device-width: 768px) {
	div.content{
		width: 90%;
	}
	div.content img{
		height: auto;
		max-height: 500px
	}
}
