

/*===============================================
FONTS
===============================================*/
@font-face{
	font-family: AvenirLTStd-Light;
	src: url(../fonts/AvenirLTStd-Light.otf);
}
@font-face{
  font-family: AvenirLTStd-Medium;
  src: url(../fonts/AvenirLTStd-Medium.otf);
}

strong {
  font-family: AvenirLTStd-Medium;
}
/*===============================================
GRID
===============================================*/
.container{
  position: relative;
  margin: 0 auto;
  padding: 0px 25px 0px 25px
}
hr {
  width: 70%;
}

.row{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);    
  grid-gap: 10px;
  justify-content: space-around;
  margin-bottom:10px;
}
.column, .columns {
  display: inherit;
  grid-gap: inherit;
}
/* .container > .row > .column {
  padding: 10px;
}
.container > .row > .columns {
  padding: 10px;
} */
.column, .columns .row {
  margin-bottom: 0px;
}


.two{
  grid-column: auto / span 2
}
.three{
  grid-column: auto / span 3
}
.four{
  grid-column: auto / span 4
}
.five{
  grid-column: auto / span 5
}
.six{
  grid-column: auto / span 6
}
.seven{
  grid-column: auto / span 7
}
.eight{
  grid-column: auto / span 8
}
.nine{
  grid-column: auto / span 9
}
.ten{
  grid-column: auto / span 10
}
.eleven{
  grid-column: auto / span 11
}
.twelve{
  grid-column: auto / span 12
}
/*===============================================
PROJECTS
===============================================*/
.container.project-text {
  color: black;
  width: 70%;
  background-color: white;
  padding: 15em 3em 3em 3em;
}
.container.project-text p{
  font-variant: none;
  line-height: 1.5em;
}
.container.project-text ul {
  list-style-type: square;
  margin-top:0;
  font-variant: none;
}
.container.project-text ol {
  margin-top:0;
  font-variant: none;
}
.container.project-text ol li {
  margin: 10px;
}
.container.project-text ul li {
  margin: 10px;
}
.container.project-text .project-page-image {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
h3.projects {
  margin-top: -20px;
  margin-bottom: 20px;
}
h4.projects {
  margin-top: 0;
}
h3.projects-label {
  margin-top: 1.5em;
  margin-bottom: 0;
}
.viewfinder-black {
  background-color: #1D2123;
  padding:10px;
}
a.project-link, a.project-link:visited {
  text-decoration: underline;
  color: black;
}
img.white-image {
  border: 1px solid black;
  padding:10px;
}
.caption {
  margin-top: -10px;
  text-align: center;
  font-style: italic;
  font-weight: 700;
}
#intuit {
  margin-top: -30px;
  line-height: 1em;

}
/*===============================================
GENERAL
===============================================*/
body {
	margin-left: auto;
	margin-right: auto;
	font-family: AvenirLTStd-Light;
  font-size: 14pt;
  font-weight: 100;
	vertical-align: center;
  overflow-x: hidden;
  margin: 0 auto;
  color: white;
  font-variant: small-caps;
  /* background-color: #E1C1C0; */
}

.pink{
    background-color: #E1C1C0;
}
.white{
  background-color: white;
}

p {
  text-align: justify;  /* For Edge */
  text-align-last: left;
}

h1 {
  letter-spacing: .2em;
  font-weight: 100;
  font-size: 36pt;
}

a {
  text-decoration: underline;
  color:white;
}
a.link-project {
  text-decoration: none;
}
a:visited {
  color:white;
}

.content {
  margin-left:25%;
  padding-left: 75px;
  font-size: 14pt;
}

.about {
    padding-left:75px;
}

.about p {
  letter-spacing: .1em;
}

.resume-image{
    margin-bottom:25px;
}

.project-description{
    margin-top:0px;
    margin-left: 25px;
    min-height:200px;
    font-size: 14pt;
    list-style-type: square;
}

.project-logo{
    height: 180px;
    width: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}
.project-title{
  margin: 0px 0px 0px 25px;
  letter-spacing: .2em;
  line-height:20px;
}
.text-logo{
  padding-top:60px;
  height:auto;
}

.section{
    margin-bottom:100px;
}
footer{
    text-align: left;
    margin: 50px 0px 50px 0px
}

/*===============================================
MENU
===============================================*/
.header {
  position: fixed;
  background-color: white;
  height: 100vh;
  width: 50%;
  color: #E1C1C0;
  text-align: right;
  padding-top:15%;
  min-width:450px;
  z-index: 1000;
}
.wrap{
  margin-right: 1em;
}
.title{
  margin-right: -5px;
  margin-bottom: 1em;
}

.menu {
  list-style-type: none;
  padding: 0px;
  letter-spacing: .2em;
}
.menu li {
  margin-bottom: 1em;
  cursor: pointer;
}

img{
    width:100%;
    height:auto;
    display: inline-block;
    margin-bottom: 25px;
}

/*===============================================
COVER
===============================================*/

.cover{
	height: 100vh;
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
    background-image: url(../img/pink.png);
    margin-left:25%;
    display:block;
    padding-top:100vh;
}
/*===============================================
MEDIA QUERIES
===============================================*/
@media only screen and (max-width: 1600px) {
  .content{
    margin-left: 400px;
  }
  .cover{
    margin-left: 400px;
  }
}

@media only screen and (max-width: 1100px) {
  .container{
      width: auto;
  }
  .project-title{
    margin-left: 0px;
  }
  .project-description{
    margin-left:0px;
  }
}


@media only screen and (max-width: 1100px) {
  .cover {
      margin-left:0px;
      width:100%;
      padding-top:0px;
      background: #E1C1C0;
      height: 100%;
    }

  .about{
    padding: 25px 25px 0px 25px;
  }
  
  .column, .columns {
     grid-column-end: span 12;
  }
  .header{
    min-width:100%;
    position: relative;
    padding-top: 50%;
    /* padding-left: 1em;
    padding-right: 1em; */
  }
  h1 {
    font-size: 24pt;
  }

  .content{
    margin-left:0px;
    padding: 25px 25px 0px 25px;

  }
  .wrap{
    margin: 0 2em 0 2em;
  }
}
