@font-face {
  font-family: 'Avenir';
  src: url('https://lib.intuitcdn.net/fonts/Avenir/1.0/AvenirLT-Roman.eot');
}

.center{
  text-align: center;
}
.green{
  color: #2CA01C;
}

body {
  font-family: Avenir;
  font-weight: 100;
  font-size: 18px;
}

a{text-decoration: none;
color:black;}

a:hover{
  color: #2CA01C;
}

a:visited{
  color:black;
}
img.screenshot{
  width: 100%;
}


div#topbar1{
position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    color: black;
    height: 6.5rem;
    width: 100%;
    z-index: 99;
    display: block;

}


.bold{
  font-weight: bold;
}


#buttonHead{

  margin-top: 1.25em;
  float: left;
  display: inline-block;
  letter-spacing: .2em;
  position: relative;

    margin-left: 25px;
}

.menu{
  margin-top: 1.25em;

  float: right;
  position: relative;
  display: inline-block;
  margin-right: 25px;

}
.menuItem{
  display: inline-block;
  margin-left: 1em;
}


p.button{
  font-size: 20px;
  text-align: left;
  margin-left: -.5em;
  color:white;
}

.banner{
    height: 100vh;
    width: auto;
    margin-top: 0em;
    background-image: url(../resources/landing.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.section{
  margin-bottom: 3em;
}

#hero{
  /*position: absolute;*/
  /*top: 25em;*/
  /*left: 50%;*/
  padding-top: 30%;
  color: white;
  font-size: 60pt;
/*  text-align: center;
*/  font-weight: 0;
    letter-spacing: .2em;
}

#blurb{
  font-size: 24pt;
  color: white;
  /*text-align: center;*/
  margin-top: -.5em;
}
button{
  color: white;
  border: 1px solid #2CA01C;
  margin-top: 2em; 
  font-family: Avenir;
  background-color: #2CA01C;
}

button:hover{
  border: 1px solid white;
  background-color: transparent;
  color: white;
  transition: border 1s, color 1s, background 1s;
}

.title{
  font-size: 18pt;
  color: black;
  margin-top: 2.5em;
  margin-bottom: 1em;
}
.description{
  text-align: left;
  font-size: 12pt;

}
img#qb{
  height: 65px;
  margin-left: 20px;
}

p.short{
  font-size: 18pt;
  margin-top: 1em;
  margin-bottom: 1em;
}
p.summary{
  font-size: 16pt;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 70%;
    background-color: #eee;
}

.bubble{
  width: 300px;
  height: 300px;
  -webkit-clip-path: circle(50% at 50% 50%);

clip-path: circle(50% at 50% 50%);
  
  background-size: cover;
  background-position: 75% 0%;
  background-repeat: no-repeat;

}

#p1{
  background-image: url(../resources/profile1.jpg);
}

.bubble#p2{
  background-image: url(../resources/profile2.jpg);
}

#p3{
  background-image: url(../resources/profile3.jpg);
}

.row#shiftRight{
  margin-right: 100px;
}

.quote{
  /*text-align: left;*/
  font-size: 16pt;
  margin-top: 135px;
    padding-left: 100px;
    width: calc(100% - 400px);
}
.quote#odd{
  padding-right: 100px;
  padding-left: 0;
  margin-top: 105px;

}

footer{
      height: 13rem;
    width: 100%;
    margin-top: 1rem;
    text-align: center;
    background-color: #eee;
}

#copyright{
      font-size: 10pt;
    padding-top: 4rem;
}

