@font-face{
	font-family: Lane;
	src: url(fonts/LANENAR_.ttf);
}
@font-face{
	font-family: Roboto Light;
	src: url(fonts/Roboto-Light.ttf);
}

a{text-decoration: none;}
a:visited{
  color:black;
}
body{
	margin-left: auto;
	margin-right: auto;
	font-family: Roboto;
	font-size: 1em;
	vertical-align: center;
	background: #eee;
}

div#topbar1{
	position:fixed;
	height: 5em;
	width: 100%;
	color:black;
	background-color: white;
	display:block;
	z-index: 1000;
	margin-top: -.5em;
}
.buttonHead{
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	letter-spacing: .2em;
	margin-top: 1.25em;
	position: relative;
	color:black;
	font-family: Roboto Light, Verdana;
}

div.inner{
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}

div.header{
	text-align: left;
	background-color: white;
	box-shadow: 10px 10px 5px #888;

}

h1{
	font-size: 7.5em;
	padding: .15em;
	margin-bottom: .2em;
	font-family: Roboto Light;
}

div.content{
	width: 100%;
	margin: 0 auto;
	background-color: white;
	display:inline-block;
	position: relative;
	box-shadow: 10px 10px 5px #888;

}
.content img{
	width:auto;
	height:auto;
	margin:auto;
	max-width:100%;
	display:inline-block;
}


.content p{
	padding:2em;
	font-size: 11pt;
	font-family: Roboto Light;
	line-height: 20px;
	text-align:left;
}
b.hover{
	font-size: 2.5em;
	font-weight: 900;
}

footer{
	font-family: Lane;
	text-align: center;
	color: #aaa;
	padding:5pt;
	font-size: 11pt;
	font-weight: bold;
	background-color: white;

}

