@font-face{
	font-family: Walkway Oblique;
	src: url(fonts/Walkway_Oblique.ttf);
}
@font-face{
	font-family: Lane;
	src: url(fonts/LANENAR_.ttf);
}

@media only screen and (max-width: 760px){
	.heading h1{
		font-size: 5em;
	}
	a.transition#enterLink{
		font-size: 2em;
	}

	p#blurb{
		font-size: 1em;
	}

	div#hLine{
		width: 10em;
	}

}




body{
	font-family: Walkway Oblique;
	overflow: hidden;
	text-align: center;
	min-height: 760px;
	background: white;
	
	
}

div#background{
	
	background: url(img/skyline.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 0;
	display: block;
	text-align: center;
	opacity: .8;

}
  	


.shader{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.33);
}

.heading{
	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
  	margin-top: 8.5%;
}

h1{
	font-size: 8em;
	text-align: center;
	display: block;
	color:rgba(256,256,256,1);
	margin-bottom: 0em;
	margin-top: 1em;
	font-family: Lane;
	text-align: center;
}


#blurb{
	font-size: 2em;
	color:black;
	text-align: center;
	font-family: Lane;
	color: rgba(256,256,256,1);
	margin-top: .5em;
	font-weight: 700;
}
a{
	color: rgba(0, 0, 0, 0.66);
	text-decoration: none;
	text-align: center;
	font-size: 3em;
	font-family: Lane;
	/*border: .1em rgba(256,256,256,0.5);*/
	padding-left: 2.5%;
	padding-right: 2.5%;
	border-radius: 5px;
	background-color: rgba(256, 256, 51 , 0.8);
}



#hLine{
	width: 20em;
 	border-top: 2.5px solid white;
 	text-align: center;
 	margin:0 auto;

 }

