@font-face{
	font-family: Walkway Oblique;
	src: url(fonts/Walkway_Oblique.ttf);
}
@font-face{
	font-family: Roboto Light;
	src: url(fonts/Roboto-Light.ttf);
}



body {
	margin: 0em 10em 0em 10em;
	margin-left: auto;
	margin-right: auto;
	background: #eee;
	color: #000;
	font-size: 1em;
	font-family: Century Gothic;
	min-width: 1250px;
	max-width:1250px;
	vertical-align: center;

}

li{
	list-style-type: square;
}

#container{
	min-width:1250px;
	max-width:1250px;
	background:#fff;
}

img{
	display: inline-block;
	width:305px;

    margin: 5px;
    background-position: center center;
    background-size: cover;
}


#photo{
	margin: 10px 10px 5px 10px
;	padding: 5px 5px 5px 5px;
	height:315px;
		width:315px;

	vertical-align:middle;
	display: inline-block;
	clear:left;
	float:left;
	background-color: #eee;
	position:relative;
	overflow:hidden;
	text-align:center;
	
	
}


#contactinfo{  
	list-style: none;
	float: left;
	display:inline-block;
	height: 100%;
	margin-top: 2.75em;
	color: #000000;
	position:relative;
	font-size: 10pt; 
	margin-left: 20px;
	}




#dl{

	float: left;
	height: 7.2em;
	min-width:12em;
	max-width:12em;
	margin-left: 0px;
	margin-right:25px;
	margin-top:50px;
	background-color: #667788;
	color: #000000;
	position:relative;

}
p#pdf{
	font-size:80px;
	font-family: Walkway Oblique;
	font-weight: bold;
	margin-left: -.25em;
	margin-top: 15px;

	color: white;
	text-align: center;
}


a:hover{text-decoration: none;
color: white;}

a:visited{
  color:white;
}


#Education{
	margin: 5px 10px 5px 10px;
	padding: 0px 5px 0px 5px;
	height:100%;
	width:33%;
	
	float:left;
	display:block;
	font-family: Century Gothic;
	position:relative;
	overflow: hidden;


}



	

#skills{
	margin: 5px 10px 5px 10px;
	padding: 0px 5px 0px 5px;
	height:100%;
	width:33%;

	float:left;
	display:block;
	font-family: Century Gothic;
	position:relative;
	overflow: hidden;
}


#EC{margin: 5px 10px 5px 10px;
	padding: 0px 5px 0px 5px;
	height:100%;
	width:33%;

	float:left;
	display:block;
		font-family: Century Gothic;
	position:relative;
	overflow: hidden;

}


p.EC{
	margin-top: 0em;
	margin-left:2em;
	padding-right:.25em;
	font-size:12px;
}

li.EC{
	font-size: 18px;}


h1, h2, h3 {
	margin: 0;
	padding: 0;
	color:#000;
		font-family: Roboto Light;

}


h2.relevantExperience{
	margin-top:10px;
	margin-bottom:10px;

}

table.experience{
	font-family: Century Gothic;

}

h1 { font-size: 64pt; 
	float: left;
	margin-top:10px;
	
}
h2 { font-size: 24pt; 
	font-weight: bold;
	margin-bottom:-10px;
	margin-top: 3px;
}

h3 { font-size: 12pt; 
	}

a {
	text-decoration: none;
	/*color: ;*/
}

a:hover {
	color: #000000;
	text-decoration: underline;
}

/* HEADER */
header {
	margin-left: 30px;
	margin-top: 10px;
}


/* NAV */
nav {
	width: 100%;
	height: 36px;
	background: #015367 ;
	
}

nav ul {
	list-style: none;
	line-height: normal;
}

nav li a {
	float: left;
	/*color: ;*/
	padding: 10px 15px 0px 15px;
}

/* CONTENT */
#content {
margin-top:10px;
margin-right: 17px;
margin-left: 0px;
padding: 0px 5px 0px 5px;
height:100%;
width:62%;
display:block;
float:right;

}







/* FOOTER */
footer {
	text-align: center;
	margin-top: 30px;
	padding: 5px;
	/*background: ;*/
	color: black;
	font-size: 90%;
	clear:both;
}

/* TABLE */
table {
	margin-left: auto;
	margin-right:auto;
	padding: 10px;
	border-collapse:collapse;

}

thead {
	/*color: ;*/
	vertical-align: center;
	height: 80px;	
	border: solid 1.5px;
	font-family: Walkway Oblique;
	font-size:20px;
}





table .experience { 
	width: 200px; 
	vertical-align: top;
	font-family: Century Gothic;
	font-size: 22px;

	/*color: ; */
}

table .year { 
	width: 80px; 
	vertical-align: top; 
	text-align: center;
}



tr { border-bottom: solid 1.5px; }
th { padding: 5px; }
td { padding: 10px; }
