@import './theme.scss';
@import './styles/grid.scss';

@font-face {
  font-family: 'Inter';
  src: local('Inter-Regular'),
    url(./assets/fonts/Inter-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'DM Serif Display-Regular';
  src: local('DM Serif Display-Regular'),
    url(./assets/fonts/DMSerifDisplay-Regular.ttf) format('truetype');
}

body {
  background-color: $white;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.action-link {
  text-decoration: none;
  @include link;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}
