$primary: #1d1d1d;
$accent: #3a55d2;
$link: #3a55d2;
$white: #ffffff;
$backdrop: blur(8px) grayscale(30%) saturate(40%);
$border-width: 1px;

// base unit
$scale0: 4px;
$scale1: 8px;
$scale2: 16px;
$scale3: 24px;
$scale4: 32px;
$scale5: 40px;
$scale6: 48px;
$scale7: 56px;
$scale8: 64px;
$scale9: 72px;
$scale10: 80px;

:export {
  primary: $primary;
  accent: $accent;
  link: $link;
  white: $white;
  backdrop: $backdrop;
  scale0: $scale0;
  scale1: $scale1;
  scale2: $scale2;
  scale3: $scale3;
  scale4: $scale4;
  scale5: $scale5;
  scale6: $scale6;
  scale7: $scale7;
  scale8: $scale8;
  scale9: $scale9;
  scale10: $scale10;
}

@mixin Display {
  font-family: "Geo";
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0.02em;
}

@mixin Subheader {
  font-family: "GeistMono";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
}

@mixin Header {
  font-family: "GeistMono";
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.06em;
}

@mixin Body {
  font-family: "GeistMono";
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}

@mixin Body-bold {
  font-family: "GeistMono";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}
