@import "../../theme.scss";

nav.display-nav {
  height: 72px;
  width: 100%;
  position: fixed;
  top: 0;
  background: #fff;
  justify-content: space-between;
  display: inline-flex;
  align-items: center;
  z-index: 1000;
  border-bottom: 2px solid black;
}

.center-detail {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

ul.nav-menu {
  list-style-type: none;
  margin: 0;
  display: inline-flex;
  flex-direction: row;
  height: 100%;
  li {
    cursor: pointer;
    border-left: 2px solid black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 120px;
    &:hover {
      transition: background-color 0.33s ease-in-out;
      background-color: rgba($primary, 0.12);
    }
  }
}

@media only screen and (max-height: 1200px) {
}

@media only screen and (max-height: 800px) {
}

@media only screen and (max-width: 1000px) {
}

@media only screen and (max-width: 550px) {
}
