@use "../../theme.scss";

.image-with-caption {
  font-style: italic;
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
  img {
    margin-bottom: 8px;
    border: 2px solid theme.$primary;
  }
}

.iphone-img {
  max-width: 375px;
}
