@use "../../theme.scss";

.image-with-caption {
  font-style: italic;
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
  img {
    margin-bottom: 8px;
    border: theme.$border-width solid rgba(0, 0, 0, 0.15);
    border-radius: 16px;
  }
}

.iphone-img {
  max-width: 375px;
}
